<div class="container mb-4">
  <h2>Login</h2>
  <form (ngSubmit)="submitLogin()" enctype="multipart/form-data" method="post">
    <div class="row">
      <div class="col-md-12">
        <input type="text" [(ngModel)]="model.emailOrUsername" id="emailOrUsername" name="emailOrUsername" placeholder="username" class="m-1 w-100 form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="password" [(ngModel)]="model.password" id="password" name="password" placeholder="password" class="m-1 w-100 form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Onthoud mij: </label> <input [(ngModel)]="model.rememberMe" name="rememberMe" id="rememberMe" type="checkbox" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 m-2">
        <input type="submit" class="btn btn-warning w-100 m-1 m-auto" value="Sign in" />
      </div>
    </div>
  </form>
</div>
