<h2>Wie zijn wij?</h2>
<p>Blokitect is een bemiddelingsplatform waar vraag en aanbod te pas komen op het gebied van software development. <br />
  Ons platform maakt van jouw vragen een duidelijk project voor de ontwikkelaars die van ons platform gebruikmaken.
  </p>

<h3>Geen plan is te groot</h3>
<p>Bij ons kan je terecht als zowel particulier als eigenaar van een groot bedrijf.

  Commissie;<br />
  20% van projectkosten<br />
  10% bij abonnementskosten</p>

<table class="w-50">
  <tbody>
    <tr>
      <td>Tel. Number</td>
      <td>010 - 34566246</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>info@blokitect.com</td>
    </tr>
  </tbody>
</table>
